@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;


.p-map {



  &__head{
    width: 218px;
    margin: 0 auto;
  }

&__head-img {
  width: 184px;
  margin: 0 auto;
}

&__head-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  img{
    width: 40px;
    height: 40px;
  }

}

&__content {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;

  @include m.mq(sp){
     flex-direction: column-reverse;

  }
}

&__bg {
  width: 755px;
 margin: 40px auto 0 ;


  img{
    object-fit: cover;
    width: 100%;
  }

  @include m.mq(sp){
     width: 100%;
  }

}

&__content-left {
  width: 50%;
  // text-align: center;
  padding: 100px 60px;

  @include m.mq(sp){
     padding: 25px;
  }

  @include m.mq(sp){
     width: 100%;
  }
}

&__info {}

&__info-head {
  text-align: left;
  width: 180px;

  @include m.mq(sp){
     margin: 0 auto;
  }
}

&__info-list {
  margin-top: 24px;
}

&__info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  &:first-child{
    margin-top: 0;
  }
}

&__info-title {
  position: relative;
  width: 120px;
  text-align: left;
  color: var(--LP-Blown, #4A3636);
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 15px;

    @include m.mq(sp){
       font-size: 12px;
    }

    &::before{
      position: absolute;
      content: "";
      background-color: v.$bg-dark-blue;
      width: 8px;
      height: 8px;
      top: 8px;
      left: 0;
      border-radius: 50%;

    }
}

&__info-text {
  width: 70%;
  text-align: left;
  font-weight: 400;
  line-height: 160%;
  color: var(--LP-Blown, #4A3636);

  @include m.mq(sp){
     font-size: 12px;
  }
}

&__content-right {
  width: 50%;

  iframe{
    width: 100%;
  height: 100%;

  @include m.mq(sp){
     height: 271px;
  }
  }

  @include m.mq(sp){
     width: 100%;
  }
}


}