@use "../../foundation/mixin" as m;



.p-roadservice__point {

  padding: 100px 0;
  background-color: #dbf3fd;
}


.p-roadservice__patner {

  margin-top: 200px;

  &-content {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 100px 0;
    text-align: center;
    position: relative;


    h3 {
      position: absolute;
      top: -36px;
      left: 50%;
        transform: translateX(-50%);
      font-size: 1.3rem;
      padding: 20px;
      border: 1px solid gray;
      border-radius: 999px;
      display: inline-block;
      margin: 0 auto;
      width: 70%;
      background-color: #fff;
    }
  }

  &-text {
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;

  }
}